.un-color{
    background-color: #7e2b1d !important;
}
.card{
    padding-top: 10px;

}
#all_data .la{
    color: #7e2b1d;
}
.btn-xl{
    width: 10%;
}
.text-un{
    color: #7e2b1d;
}
td .form-control {
    width: 8rem;
    color: #7e2b1d;
}

td .form-control1
{
    display: block;
    width: 40px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
::placeholder{
    color: #7e2b1d !important;
}
div .form-control{
  color: #7e2b1d;
}